#section_all-text {
    .row {
        margin: 0;
    }
    .all-text-wrapper {
        background-color: #ffffff;
        color: #53565A;
        .all-text-container {
            padding-top: 2em;
            padding-bottom: 2em;
            padding-left: 80px;
            @include media-breakpoint-down(md) {
                padding-left: 20px;
            }
            .all-text-headline {
                color: #53565A;
                font-family: 'eurostile', sans-serif;
                font-size: clamp(1.75rem, 1.504rem + 0.995vw, 2.25rem);
                font-weight: 800;
                letter-spacing: 0;
                margin-bottom: 0.5em;
            }
            .all-text-description {
                font-family: 'myriad-pro', sans-serif;
                font-size: 1.125em;
                font-weight: 400;
            }
            a {
                &.at-link {
                    color: #A3A8AA;
                    display: inline-block;
                    font-family: 'myriad-pro', sans-serif;
                    font-size: 1.125em;
                    font-style: italic;
                    font-weight: 400;
                    margin-top: 30px;
                    &::after{
                        content: url('../images/right-arrow.png');
                        display: inline-block;
                        width: 40px;
                        height: 0;
                        margin-left: 1em;
                        transition: 0.3s;
                    }
                    &:hover {
                        &::after {
                            margin-left: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
