#section_bulleted-image-right{
    .bir-text-container {
        padding: 0;
        @include media-breakpoint-down(md) {
            padding-top: 40px;
        }
    }
    .bir-top-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: #A3A8AA;
        text-align: left;
        height: 1.5em;
    }
    .bir-top-text::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 52px;
        height: 1px;
        background: #A3A8AA;
        z-index: 1;
        @include media-breakpoint-down(md) {
            width: 20px;
        }
    }
    .bir-top-text::after{
        color: #A3A8AA;
        content: attr(data-content);
        display: inline-block;
        font-family: "eurostile", sans-serif;
        font-size: clamp(0.875rem, 0.696rem + 0.476vw, 1.125rem);
        font-weight: 700;
        letter-spacing: 0.5em;
        padding-left: 80px;
        position: relative;
        line-height: 1.5em;
        text-transform: uppercase;
        z-index: 0;
        @include media-breakpoint-down(md) {
            letter-spacing: 0.25em;
            padding-left: 40px;
        }
    }
    a.bir-nb-link::after{
        content: url('../images/right-arrow-gray.svg');
        display: inline-block;
        width: 40px;
        height: 0;
        margin-left: 1em;
        transition: 0.3s;
        @include media-breakpoint-down(md) {
            width: 20px;
        }
    }
    a.bir-nb-link:hover::after{
        margin-left: 1.5em;
    }
    .bir-headline {
        color: #53565A;
        font-family: 'eurostile', sans-serif;
        font-size: clamp(1.75rem, 0.902rem + 2.262vw, 2.938rem);
        font-weight: 800;
        letter-spacing: 0;
        line-height: clamp(1.75rem, 0.991rem + 2.024vw, 2.813rem);
        margin-bottom: 0.5em;
        padding-left: 80px;
        @include media-breakpoint-down(md) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .bir-paragraph {
        font-family: 'myriad-pro', sans-serif;
        font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
        font-weight: 400;
        line-height: clamp(1.25rem, 1.071rem + 0.476vw, 1.5rem);
        padding-left: 80px;
        @include media-breakpoint-down(md) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .bir-numbered-bullets{
        padding-left: 80px;
        @include media-breakpoint-down(md) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .bir-nb-percentage{
        font-family: 'eurostile', sans-serif;
        font-size: clamp(2rem, 0.75rem + 3.333vw, 3.75rem);
        font-weight: 800;
        letter-spacing: 0;
        line-height: 1em;
        text-transform: uppercase;
    }
    .bir-nb-percentage-header{
        font-family: "eurostile", sans-serif;
        font-size: clamp(1.25rem, 0.714rem + 1.429vw, 2rem);
        letter-spacing: 0;
        line-height: 1.5em;
    }
    .bir-nb-link{
        color: #A3A8AA;
        font-family: 'myriad-pro', sans-serif;
        font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
        font-style: italic;
        font-weight: 400;
        line-height: clamp(1.563rem, 1.205rem + 0.952vw, 2.063rem);
        margin-top: 30px;
    }
    img.image-bg {
        min-height: 40em;
        @include media-breakpoint-down(md) {
            min-height: 20em;
        }
    }
    .bir-image-mask {
        background: linear-gradient(117deg, rgba(255,255,255,0.8) 45%, rgba(255,255,255,0) 45%);
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(0);
        -webkit-transtition: transform 5s ease-out;
        transition: transform 5s ease-out;
    }
    .reveal {
        position: relative;
        overflow: hidden;
    }
    .reveal.animating .bir-image-mask{
        transform: translateX(-100%);
    }
}