// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 * https://getbootstrap.com/docs/5.2/customize/sass
 */

// @import "../node_modules/bootstrap/scss/bootstrap"; // Include all of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// Options
$enable-dark-mode: false;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-caret: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-smooth-scroll: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Color vars
$red: #862633;
$blue: #003A70;
$progrey: #53565A;
$progrey-light: #A3A8AA;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// Fonts
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Eurostile-Normal';
	src: url('../fonts/EuroStyle-Normal.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Eurostile-Bold';
	src: url('../fonts/Eurostile-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Semiboldit';
	src: url('../fonts/MyriadPro-Semiboldit.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}
$font-family-helvetica: 'HelveticaNeue', sans-serif;
$font-family-eurostile: 'eurostile', sans-serif;
$font-family-myriadpro: 'myriad-pro', sans-serif;
$font-family-base: $font-family-myriadpro;

$link-decoration: none;
$nav-link-font-size: 1em;
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 1.75rem;
$gutter-x: 0;
$table-striped-order: even;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/helpers';

// 9. Include ACF modules
// add file with .scss extension to the assets folder

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

// 9. Include ACF modules
@import './hero';
@import './all-text';
// @import 'modules/bullet-left';
@import './bullet-right';
// @import 'modules/header-band';
// @import 'modules/hero';
// @import 'modules/tabbed-bil';
/**
 * General
 */
 $table-striped-order: even;
body {
	/* If WP-Adminbar is visible */
	&.admin-bar {
		#header {
			&.fixed-top {
				top: var(--wp-admin--admin-bar--height);
			}
		}
		.second-navbar {
			top: calc(var(--wp-admin--admin-bar--height) + 100px);
		}

		.edit-link a {
			color: #fff !important;
			font-weight: normal !important;
			text-decoration: none !important;

			&::before {
				content: '\270E';
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}

img {
	vertical-align: middle;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Header */
header {
	#header {
		height: auto;
		transition: height .3s;
		.search-form {
			min-width: 250px;
		}
		&.small-nav {
			height: 60px;
		}
		&.navbar-expand-md {
			.navbar-toggler {
				border: none;
				padding: 0 12px 0 0;
				height: 100px;
				&:focus {
					outline: none;
					box-shadow: none;
				}

			}
			.navbar-nav {
				@include media-breakpoint-down(md) {
					li {
						flex-direction: column;
						width: 100%;
						border-bottom: 1px solid rgba(163,168,170,0.5);
						ul {
							li {
								&.dropdown-mega-header{
									ul {
										&.mega-inside {
											li {
											}
										}
									}
								}
							}
						}
					}
				}
				.nav-item:hover {
					a {
						color: #53565A;
						font-family: $font-family-eurostile;
						font-weight: 700;
						font-style: normal;
					}
				}
				.nav-link {
					color: rgba(83, 86, 90, 0.5);
					font-family: $font-family-myriadpro;
					font-weight: 400;
					font-style: normal;
					&.show,
					&.active {
						color: #53565A;
						font-family: $font-family-eurostile;
						font-weight: 700;
						font-style: normal;
					}
				}
				.current-menu-item {
					.nav-link {
						color: #53565A;
						font-family: $font-family-eurostile;
						font-weight: 700;
						font-style: normal;
					}
				}
				.dropdown-toggle {
					&:after {
						display: none;
					}
				}
				.dropdown-menu {
					&.mega-container {
						> .dropdown-header {
							display: inline-block;
						}
						&.show {
							background-color: rgba(248, 249, 250, 1);
							border:none;
							border-radius: 0;
							display: flex;
							justify-content: flex-end;
							left: 0;
							margin-top: 0;
							padding-left: 1em;
							padding-right: 1em;
							top: 60px;
							width:100%;
							@include media-breakpoint-down(md) {
								display: block;
								height: 40vh;
								overflow-y: auto;
								box-shadow: none;
							}
							.dropdown-mega-header{
								width: 275px;
								@include media-breakpoint-down(md) {
									width: auto;
									text-align: center;
								}
								a {
									color: $progrey;
									font-family: "eurostile", sans-serif;
									font-weight: 700;
									font-style: normal;
									&:hover,
									&:active,
									&.active {
										color: $red;
									}
								}
								.mega-inside {
									align-items: flex-start;
									background-color: transparent;
									border: none;
									box-shadow: none;
									display: flex;
									flex-direction: column;
									gap: 1em;
									margin-top: 1.5em;
									position: relative;
									@include media-breakpoint-down(md) {
										display: none;
									}
									li {
										a {

											&.dropdown-item {
												color: $progrey-light;
												font-family: "myriad-pro", sans-serif;
												font-weight: 400;
												font-style: normal;
												padding-left: 0;
											}
											&:active,
											&.active {
												background-color: transparent;
												background-image: none;
												color: $blue;
											}
											&:hover {
												background-color: transparent;
												background-image: none;
												color: $blue;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.second-navbar {
		background-image: none;
		position: fixed;
		right: 0;
		top: 100px;
		z-index: 99;
		@include media-breakpoint-down(md) {
			display:none;
		}
		.top-small-menu-nav {
			padding-bottom: 10px;
			padding-top: 10px;
			width: 100%;
			ul {
				&.top-menu {
					li {
						background-color: rgba(83, 86, 90, 0.8);
						position: relative;
						&:first-child::after {
							display: none;
						}
						&::after {
							content: "";
							display: block;
							height: 50%;
							width: 1px;
							background-color: rgba(255,255,255,0.5);
							position: absolute;
							top: 25%;
						}
						.nav-link {
							color: #fff;
							font-family: $font-family-myriadpro;
							font-weight: 400;
							font-size: 12px;
							letter-spacing: 1px;
							padding: 1rem;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}		
			}
		}
	}
}
.page-template-page-full #main.container {
	max-width: 1200px;
}
.navbar-brand {
	padding-left: 16px;
	img {
		height: 22px;
	}
}
#navbar {
	.navbar-nav {
		&.main-menu {
			li {
				&.current-menu-item {
					a {
						&.nav-link {
							&.active {
								font-family: $font-family-eurostile;
								font-weight: 700;
								font-style: normal;
							}
						}
					}
				}
			}
		}
	}
}
.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}

/* Main */
#main.container {
	padding: 0;
}
/* Footer */

#footer {
	background-color: #53565A;
	.widget3 {
		p {
			color: #FFFFFF;
			font-family: "eurostile", sans-serif;
			font-size: 15px;
			margin-top: 10px;
			span {
				font-weight: 700;
			}
		}
	}
	.menu-item {
		a {
			&[aria-current='page'] {
				color: $link-hover-color;
			}
		}
	}
}
/* Breadcrumbs */
#section_breadcrumbs {
	#breadcrumbs {
		ol {
			li {
				&.breadcrumb-item + .breadcrumb-item::before {
					content: "//";
				}
				a {
					color: #A3A8AA;
				}
				&:last-child{
					a {
						span {
							font-family : "myriad-pro", sans-serif;
							font-size : 18px;
							line-height : 25px;
							color : #862633;
							color : rgb(134, 38, 51);
						}
					}
				}
			}
		}
	}
}
/* Sidebar */

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}

/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}
}

/* Posts */

.sticky {
	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: ($grid-gutter-width * 0.5);
}

.single {
	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 ($grid-gutter-width * 0.5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		> li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	&.btn-lg {
		.wp-block-button__link {
			@extend .btn-lg;
		}
	}
	&.btn-sm {
		.wp-block-button__link {
			@extend .btn-sm;
		}
	}

	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
	}
}

// Table

.wp-block-table {
	td,
	th {
		border: inherit;
	}

	table {
		@extend .table;
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}

/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {
	#sidebar {
		margin-top: 60px;
	}
}